@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
    font-family: 'Mulish';
}

#main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#left{
    padding: 12% 10%;
    height: 100% !important;
    width: 50% !important;
    background-color: white;
    color: #222233;
}

#left h1{
    font-family: 'Abril Fatface';
    font-size: 95px;
    line-height: 1em;
}

#welcome{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .05em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

#left p{
    font-size: 20px;
    font-family: 'Mulish';
}

#right{
    padding: 17% 8%;
    /* background-color: #5E747F; */
    background-color: #222233;
    color: #AACCFF;
    height: 100% !important;
    width: 50% !important;
    text-align: center;
    font-family: 'Mulish';
}

#right h1{
    font-family: 'Abril Fatface';
    font-size: 60px;
    line-height: 1em;
}

#name{
    margin : 30px auto 10px auto;
    padding: 10px;
    width: 300px;
    height: 50px;
    background-color: #222233;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.2em;
    border: none;
    border-bottom: 1px solid #AACCFF;
    text-align: center;
}

#right button{
    margin-top: 30px;
    width: 80%;
    height: 45px;
    font-size: 25px;
    background-color: #AACCFF;
    color: #222233;
    border: none;
    font-weight: bold;
    letter-spacing: 0.1em;
}

#questionRight{
    padding: 12% 8%;
    background-color: #222233;
    color: #AACCFF;
    height: 100% !important;
    width: 50% !important;
    text-align: center;
    font-family: 'Mulish';
}

#questionRight h1{
    font-family: 'Abril Fatface';
    font-size: 60px;
    line-height: 1em;
}

#questionRight h4{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#questionRight label{
    padding-left: 20px;
    font-size: 23px;
}

#questionRight button{
    margin-top: 30px;
    width: 80%;
    height: 45px;
    font-size: 25px;
    background-color: #AACCFF;
    color: #222233;
    border: none;
    font-weight: bold;
    letter-spacing: 0.1em;
}